:root{
     --base-100: royalblue;

}
.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
h1{
    text-transform: uppercase;
    font-family: barlow condensed;
    font-size: clamp(5rem, 10vw, 15rem);
    font-weight: 800;
    letter-spacing: -1%;
    line-height: 0.8;
}

p{
    font-family: "Host Grotesk", sans-serif;
    font-weight: 700;
    font-size: clamp(0.95rem, 1-25vw, 1.125rem);
    line-height: 1.25;
}
section{
   position: relative;
   width: 100%;
   height: 100%;
    
}